<div class="container-fluid">
<form #regForm="ngForm" [formGroup]="registrationForm" (ngSubmit)="submitUser()">
  <div>
    <input type="text" placeholder="First Name" formControlName="firstName">
    <div *ngIf="registrationForm.get('firstName').invalid && (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('firstName').errors.required">
        First Name is Required
      </div>
      <div *ngIf="registrationForm.get('firstName').errors.pattern">
        First Name can contain only Letters
      </div>
    </div>
  </div>

  <div>
    <input type="text" placeholder="Last Name" formControlName="lastName">
    <div *ngIf="registrationForm.get('lastName').invalid && (registrationForm.get('lastName').touched || registrationForm.get('lastName').dirty)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('lastName').errors.required">
        Last Name is Required
      </div>
      <div *ngIf="registrationForm.get('lastName').errors.pattern">
        Last Name can contain only Letters
      </div>
    </div>
  </div>

  <div>
    <input type="text" placeholder="Email" formControlName="email">
    <div *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').touched || registrationForm.get('email').dirty)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('email').errors.email">
        Please Enter valid e-mail Address
      </div>
    </div>
  </div>

  <div>
    <input type="password" placeholder="Password" formControlName="password">
    <div *ngIf="registrationForm.get('password').invalid && (registrationForm.get('password').touched || registrationForm.get('password').dirty)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('password').errors.required">
        Please Enter the Password
      </div>
      <div *ngIf="registrationForm.get('password').errors.pattern">
        Password can contain Letters and Numbers
      </div>
    </div>
  </div>

  <div>
    <input type="text" placeholder="Phone Number" formControlName="phoneNumber">
    <div *ngIf="registrationForm.get('phoneNumber').invalid && (registrationForm.get('phoneNumber').touched || registrationForm.get('phoneNumber').dirty)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('phoneNumber').errors.pattern">
        Please Enter valid Phone Number
      </div>
    </div>
  </div>

  <input type="submit" [disabled]="!registrationForm.valid" value="Register">
  <input type="reset" value="Reset">
</form>
</div>
