<form #regForm="ngForm" [formGroup]="levelRegistrationForm" (ngSubmit)="submitLevel()">
  <div>
    <input type="text" placeholder="Level Name" formControlName="levelName">
    <div *ngIf="levelRegistrationForm.get('levelName').invalid && (levelRegistrationForm.get('levelName').touched || levelRegistrationForm.get('levelName').dirty)" class="alert alert-danger">
      <div *ngIf="levelRegistrationForm.get('levelName').errors.required">
        Level Name is Required
      </div>
      <div *ngIf="levelRegistrationForm.get('levelName').errors.pattern">
        Level Name can contain only Letters
      </div>
    </div>
  </div>

  <div>
    <input type="text" placeholder="Level Description" formControlName="levelDescription">
  </div>

  <input type="submit" [disabled]="!levelRegistrationForm.valid" value="Register">
  <input type="reset" value="Reset">
</form>

<div>
<table>
  <tr>
    <th>#</th>
    <th>Level Name</th>
    <th>Level Description</th>
  </tr>
  <tr *ngFor="let level of data;let i = index">
    <td>{{i+1}}</td>
    <td>{{level.levelName}}</td>
    <td>{{level.levelDescription}}</td>
  </tr>
</table>
</div>